{% extends 'animals/base.html' %}

{% block title %}Dyr!!{% endblock %}

{% block body_block %}
<div class="greyfield">
<div class="container">
    <div class="row">
        <div class="ten columns">
            <h4>Alle vores dyr</h4>
        </div>
        <div class="two columns">
            <a class="button button-primary tilføj" href="/animals/all/add/">Tilføj dyr</a>
        </div>
    </div>
    {% if animal_list %}
    <div style="overflow-x:auto;">
      <table class="u-full-width">
        <thead>
          <tr>
            <th>Navn</th>
            <th>Art</th>
            <th>Født</th>
            <th>Kendetegn</th>
            <th>Farve</th>
          </tr>
        </thead>
        <tbody>
          {% for animal in animal_list %}
          <tr>
            <td><a href="/animals/{{ animal.slug }}">{{ animal.animal_name }}</a></td>
            <td>{{ animal.species }}</td>
            {% if animal.born %}
                <td>{{ animal.born }}</td>
            {% else %}
                <td>Ukendt</td>
            {% endif %}
            <td>{{ animal.animal_characteristics }}</td>
            <td>{{ animal.fur_colour }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
      <p>Vi har ingen dyr :(</p>
    {% endif %}
    </div>


{% endblock %}
