<!DOCTYPE html>
  {% load staticfiles %}
<html>
  <head>
    <metacharset="UTF-8">
    <title>Wullum - {% block title %}Dyr!!{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'animals/normalize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'animals/skeleton.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'animals/styles.css' %}" />
  </head>

  <body>
  <div id="container">
    <div id="topbar">
      <div class="container">
        <div class="row">
          <div class="twelve columns">
          <h2>Velkommen til Langerød!</h2>
          </div>
        </div>
      </div>
    </div>

    {% block body_block %}{% endblock%}

    <div id="bottombar">
      <div class="container">
        <div clas="row">
          <div class="one-half column">
          </div>
          <div class="one_half column">
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
