<!DOCTYPE html>
  {% load staticfiles %}
<html>
  <head>
    <metacharset="UTF-8">
    <title>Wullum - {% block title %}Dyr!!{% endblock %}</title>
    <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Nosifer" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'animals/normalize.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'animals/skeleton.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'animals/styles.css' %}" />
  </head>

  <body>
  <div id="container">
    <div id="topbar">
      <div class="container">
        <div class="row">
        {% if user.is_authenticated %}
          <div class="ten columns">
              <h2>Velkommen til Langerød, {{ user.username }}!</h2>
          </div>
          <div class="two columns remove_animal">
            <a href="{% url 'animals:logout' %}">Log ud</a>
          </div>
          {% else %}
            <div class="ten columns">
                <h2>Velkommen til Langerød!</h2>
            </div>
            <div class="two columns remove_animal">
                <a href="{% url 'animals:login' %}">Log ind</a>
            </div>
          {% endif %}
        </div>

        <div class="row">
          <div class="three columns">
          <a class="selector" href="{% url 'animals:index' %}">Overblik</a>

          </div>

          <div class="three columns dropdown">
              <a class="selector" href="{% url 'animals:all' %}">Dyrene</a>
               <div class="dropdown-content">
                <a href="{% url 'animals:rabbits' %}">Kaniner</a>
                <a href="{% url 'animals:chickens' %}">Høns</a>
                <a href="{% url 'animals:goats' %}">Geder</a>
                <a href="{% url 'animals:dead' %}">Afdøde</a>
          </div>
          </div>

          <div class="three columns">
              <a class="selector" href="">Indkøb</a>
          </div>
          <div class="three columns">
              <a class="selector" href="">ÆG!!</a>
          </div>
        </div>
      </div>
    </div>
  </div>

    {% block body_block %}{% endblock%}

    <div id="bottombar">
      <div class="container">
        <div clas="row">
          <div class="one-half column">
          </div>
          <div class="one_half column">
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
