{% extends 'animals/base.html' %}

{% block title %}Dyr!!{% endblock %}

  {% block body_block %}
    <h4>Ordnet efter ankomst</h>
    {% if animal_list %}
      <table class="u-full-width">
        <thead>
          <tr>
            <th>Navn</th>
            <th>Art</th>
            <th>Født</th>
            <th>Kendetegn</th>
          </tr>
        </thead>
        <tbody>
          {% for animal in animal_list %}
          <tr>
            <td>{{ animal.animal_name }}</td>
            <td>{{ animal.species }}</td>
            <td>{{ animal.born }}</td>
            <td>{{ animal.animal_characteristics }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>Vi har ingen dyr :(</p>
    {% endif %}
    <ul>
    {% for animal in animals %}
        <li>{{ animal }}</li>
    {% endfor %}
    </ul>
  {% endblock %}
