{% extends 'animals/base.html' %}

{% block title %}Dyr!!{% endblock %}

  {% block body_block %}
    <div class="greyfield">
    <div class="container">
    <h4 class="inline">Vores dyr</h4>
    {% if kill_count %}
        <div class="">
            <p class="inline_right kill_count">KILL COUNT: {{ kill_count }}</p>
        </div>
    {% endif %}
    {% if animal_list %}
      <table class="u-full-width">
        <thead>
          <tr>
            <th>Navn</th>
            <th>Art</th>
            <th>Født</th>
            <th>Kendetegn</th>
            <th>Farve</th>
          </tr>
        </thead>
        <tbody>
          {% for animal in animal_list %}
          <tr>
            <td><a href="/animals/{{ animal.slug }}">{{ animal.animal_name }}</a></td>
            <td>{{ animal.species }}</td>
            <td>{{ animal.born }}</td>
            <td>{{ animal.animal_characteristics }}</td>
            <td>{{ animal.fur_colour }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>Vi har ingen dyr :(</p>
    {% endif %}
    </div>
    </div>

    <div class="whitefield">
    <div class="container">
      <div class="row">
        <div class="one-half column">
          <h4>Seneste foderindkøb</h4>
          {% if food_list %}
            <table class="u-full-width">
              <thead>
                <tr>
                  <th>Dato</th>
                  <th>Produkt</th>
                  <th>Mængde</th>
                  <th>Pris</th>
                </tr>
              </thead>
              <tbody>
                {% for food in food_list %}
                <tr>
                  <td>{{ food.food_date }}</td>
                  <td>{{ food.food_product }}</td>
                  <td>{{ food.food_amount }} kg</td>
                  <td>{{ food.food_price }} kr</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
            <p>Vi har ikke købt noget foder...</p>
          {% endif %}
        </div>

        <div class="one-half column">
          <h4>Andre indkøb</h4>
          {% if misc_list %}
            <table class="u-full-width">
              <thead>
                <tr>
                  <th>Dato</th>
                  <th>Produkt</th>
                  <th>Pris</th>
                </tr>
              </thead>
              <tbody>
                {% for misc in misc_list %}
                <tr>
                  <td>{{ misc.misc_date }}</td>
                  <td>{{ misc.misc_product }}</td>
                  <td>{{ misc.misc_price }} kr</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
            <p>Vi har ikke købt noget...</p>
          {% endif %}
        </div>
      </div>
    </div>
    </div>

    <div class="greyfield">
    <div class="container">
      <div class="row">
        <div class="one-half column">
          <h4>Den sidste uges æg</h4>
          {% if eggs_list %}
            <div class="graph">
              {% for egg in eggs_list %}
                <div class="bar">
                  <div class="movedown">{{ egg.egg_amount }}</div>
                </div>
              {% endfor %}
            </div>
          {% else %}
            <p> Vi har ingen æg!!</p>
          {% endif %}
        </div>
        <div class="one-half column">
          <h4>Fryser</h4>
          {% if freezer_list %}
          {% else %}
            <p>Ingen mad i fryseren :(</p>
          {% endif %}
        </div>
      </div>
    </div>
    </div>
  {% endblock %}
