{% extends 'animals/base.html' %}

{% block title %}Dyr!!{% endblock %}

{% block body_block %}
    <div class="greyfield">
    <div class="container">
        <h4>Tilføj kanin</h4>

        <form id="add_animal" method="post">
            <div class="row">
            <div class="six columns">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for hidden in form.hidden_fields %}
                {{  hidden }}
            {% endfor %}

            <div class="fieldWrapper">
                <label for="name">{{ form.animal_name.help_text }}</label>
                {{ form.animal_name.errors }}
                {{ form.animal_name }}
            </div>
            </div>
            <div class="six columns">
            <div class="fieldWrapper">
                <label for="{{ form.species.id_for_label }}">{{ form.species.help_text }}</label>
                {{ form.species.errors }}
                {{ form.species }}
            </div>
            </div>
            </div>

            <div class="row">
            <div class="six columns">
                 <div class="fieldWrapper">
                <label for="{{ form.born.id_for_label }}">{{ form.born.help_text }}</label>
                {{ form.born.errors }}
                {{ form.born }}
                </div>
            </div>
            <div class="six columns">
                <div class="fieldWrapper">
                <label for="{{ form.arrived.id_for_label }}">{{ form.arrived.help_text }}</label>
                {{ form.arrived.errors }}
                {{ form.arrived }}
                </div>
            </div>
            </div>

            <div class="row">
                <div class="fieldWrapper">
                <label for="{{ form.animal_characteristics.id_for_label }}">{{ form.animal_characteristics.help_text }}</label>
                {{ form.animal_characteristics.errors }}
                {{ form.animal_characteristics }}
                </div>
            </div>

             <div class="row">
            <div class="four columns">
                 <div class="fieldWrapper">
                <label for="{{ form.fur_colour.id_for_label }}">{{ form.fur_colour.help_text }}</label>
                 {{ form.fur_colour.errors }}
                 {{ form.fur_colour }}
                </div>
            </div>
            <div class="two columns">
                <div class="fieldWrapper">
                <label for="{{ form.fur_type.id_for_label }}">{{ form.fur_type.help_text }}</label>
                {{ form.fur_type.errors }}
                {{ form.fur_type }}
                </div>
            </div>
            <div class="two columns">
                <div class="fieldWrapper">
                <label for="{{ form.eye_colour.id_for_label }}">{{ form.eye_colour.help_text }}</label>
                {{ form.eye_colour.errors }}
                {{ form.eye_colour }}
                </div>
            </div>
             <div class="two columns">
                 <div class="fieldWrapper">
                <label for="{{ form.white_marks.id_for_label }}">{{ form.white_marks.help_text }}</label>
                 {{ form.white_marks.errors }}
                {{ form.white_marks }}
                </div>
            </div>
            </div>

            <div class="row">
            <div class="two columns">
                <div class="fieldWrapper">
                <label for="{{ form.genotype_a1.id_for_label }}">{{ form.genotype_a1.help_text }}</label>
                {{ form.genotype_a1.errors }}
                {{ form.genotype_a1 }}
                </div>
            </div>
            <div class="two columns">
                <div class="fieldWrapper">
                <label for="{{ form.genotype_a2.id_for_label }}">{{ form.genotype_a2.help_text }}</label>
                {{ form.genotype_a2.errors }}
                {{ form.genotype_a2 }}
                </div>
            </div>
            <div class="two columns">
                <div class="fieldWrapper">
                <label for="{{ form.genotype_b1.id_for_label }}">{{ form.genotype_b1.help_text }}</label>
                {{ form.genotype_b1.errors }}
                {{ form.genotype_b1 }}
                </div>
            </div>
            <div class="two columns">
                <div class="fieldWrapper">
                <label for="{{ form.genotype_b2.id_for_label }}">{{ form.genotype_b2.help_text }}</label>
                {{ form.genotype_b2.errors }}
                {{ form.genotype_b2 }}
                </div>
            </div>
            <div class="two columns">
                <div class="fieldWrapper">
                <label for="{{ form.genotype_c1.id_for_label }}">{{ form.genotype_c1.help_text }}</label>
                {{ form.genotype_c1.errors }}
                {{ form.genotype_c1 }}
                </div>
            </div>
            <div class="two columns">
                <div class="fieldWrapper">
                <label for="{{ form.genotype_c2.id_for_label }}">{{ form.genotype_c2.help_text }}</label>
                {{ form.genotype_c2.errors }}
                {{ form.genotype_c2 }}
                </div>
            </div>
             </div>

            <div class="row">
            <div class="two columns">
                <div class="fieldWrapper">
                <label for="{{ form.genotype_d1.id_for_label }}">{{ form.genotype_d1.help_text }}</label>
                {{ form.genotype_d1.errors }}
                {{ form.genotype_d1 }}
                </div>
            </div>
            <div class="two columns">
                <div class="fieldWrapper">
                <label for="{{ form.genotype_d2.id_for_label }}">{{ form.genotype_d2.help_text }}</label>
                {{ form.genotype_d2.errors }}
                {{ form.genotype_d2 }}
                </div>
            </div>
            <div class="two columns">
                <div class="fieldWrapper">
                <label for="{{ form.genotype_g1.id_for_label }}">{{ form.genotype_g1.help_text }}</label>
                {{ form.genotype_g1.errors }}
                {{ form.genotype_g1 }}
                </div>
            </div>
            <div class="two columns">
                <div class="fieldWrapper">
                <label for="{{ form.genotype_g2.id_for_label }}">{{ form.genotype_g2.help_text }}</label>
                {{ form.genotype_g2.errors }}
                {{ form.genotype_g2 }}
                </div>
            </div>
            <div class="two columns">
                <div class="fieldWrapper">
                <label for="{{ form.genotype_k1.id_for_label }}">{{ form.genotype_k1.help_text }}</label>
                {{ form.genotype_k1.errors }}
                {{ form.genotype_k1 }}
                </div>
            </div>
            <div class="two columns">
                <div class="fieldWrapper">
                <label for="{{ form.genotype_k2.id_for_label }}">{{ form.genotype_k2.help_text }}</label>
                {{ form.genotype_k2.errors }}
                {{ form.genotype_k2 }}
                </div>
            </div>
            </div>

            <div class="row">
            <div class="two columns">
                <div class="fieldWrapper">
                <label for="{{ form.genotype_x1.id_for_label }}">{{ form.genotype_x1.help_text }}</label>
                {{ form.genotype_x1.errors }}
                {{ form.genotype_x1 }}
                </div>
            </div>
            <div class="two columns">
                <div class="fieldWrapper">
                <label for="{{ form.genotype_x2.id_for_label }}">{{ form.genotype_x2.help_text }}</label>
                {{ form.genotype_x2.errors }}
                {{ form.genotype_x2 }}
                </div>
            </div>
            <div class="two columns">
                <div class="fieldWrapper">
                    <label>Billede</label>
                    {{ form.picture.errors }}
                    {{ form.picture }}
                </div>
            </div>
            </div>

            <input class="button" name="submit" value="Tilføj Dyr" type="submit" />
        </form>

    </div>
    </div>

    <div class="container">
    <h4>Vores kaniner</h4>
    {% if animal_list %}
      <div style="overflow-x:auto;">
      <table class="u-full-width">
        <thead>
          <tr>
            <th>Navn</th>
            <th>Art</th>
            <th>Født</th>
            <th>Kendetegn</th>
            <th>Farve</th>
          </tr>
        </thead>
        <tbody>
          {% for animal in animal_list %}
          <tr>
            <td><a href="/animals/{{ animal.slug }}">{{ animal.animal_name }}</a></td>
            <td>{{ animal.species }}</td>
            <td>{{ animal.born }}</td>
            <td>{{ animal.animal_characteristics }}</td>
            <td>{{ animal.fur_colour }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
    {% else %}
      <p>Vi har ingen dyr :(</p>
    {% endif %}
    </div>


{% endblock %}
